<% include common/header.ejs %>
<div class="container-fluid page">
    <div class="row">
        <div class="form-order">
            <div class="form-description-1">
                <h3> 1. Контактні дані</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group name">
                            <label class="col-sm-2 control-label" for="input-name">Ім’я</label>

                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="input-name" placeholder="Прізвище Ім'я">
                            </div>
                            <span class="name-help-block danger" style="display:none">
                                Ім'я має складатися лише з літер
                            </span>
                        </div>
                        <div class="form-group phone-group">
                            <label class="col-sm-2 control-label" for="input-phone">Телефон</label>

                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="input-phone" placeholder="+380994010999">
                            </div>
                            <span class="phone-help-block danger" style="display:none">
                                Номер має складатися лише з цифр, і починатися з +380 або 0
                            </span>
                        </div>
                        <div class="form-group address-group">
                            <label class="col-sm-2 control-label" for="input-adress">Адреса</label>

                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="input-adress"
                                       placeholder="Київ, вул. Спаська, 2">
                            </div>
                            <span class="address-help-block danger" style="display:none">
                                Введіть адресу доставки піци
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 order-sum">
                    <div class=" bs-callout bs-callout-warning">
                        <h4>Інформація про замовлення</h4>

                        <p class="order-sum-time">
                            <b>Приблизний час доставки:</b>
                            <span id="order-sum-time">
                                невідомий
                            </span>
                        </p>

                        <p class="order-sum-adress">
                            <b>Адреса доставки:</b>
                            <span id="order-sum-adress">
                                невідома
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <% include common/order.ejs %>
    </div>
</div>
<div><button id="next" class="btn btn-warning btn-big">Далі
    <span class="glyphicon glyphicon-chevron-right"></span>
</button></div>
<div id="googleMap"></div>
<!-- місце для віджету -->
<div id="liqpay"></div>
<!-- піключаємо скрипт -->
<script src="//static.liqpay.com/libjs/checkout.js">
</script>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCtyL5OIaHrghH0VvYjFGIkcHqWXXYzFtY"></script>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>

<% include common/footer.ejs %>
