<footer class="footer">
    <p>Практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>
        Доставка піци не здійснюється (but you still can try)
    </p>
</footer>


</body>
</html>