<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="assets/images/map-icon.png" />
    <title><%= pageTitle %> PizzaKMA</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less"/>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

</head>
<body>

<div id="header" class="navbar navbar-inverse">
    <div>
        <a  id="logo" class="logo-up" href="/">
        </a>
    </div>
    <div id="info" class="top-row col-sm-6 col-md-8  col-lg-9">
        <div id="number"
             class=" visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
            (044) 222 2 222
        </div>
        <div id="hours" class="visible-lg-inline-block visible-md-inline-block ">24 години/7 днів на тиждень</div>
        <div id="free" class="visible-lg-inline-block">Безкоштовна доставка</div>
        <button id="exit" class="btn btn-warning btn-sm">Ввійти</button>
    </div>
    <div class="down-row">
        <span id="pizza-white">Піцца</span>
    </div>
</div>
<a class="down-logo" href="/">
    <div class="down">
        <div class="word">ЦЬОГО</div>
        <div class="word">ТИЖНЯ</div>
        <div class="word word-with-border">НА ВСЕ</div>
    </div>
</a>