<div id="order">
    <div class="order-header">
        <span class="order-title-header">Замовлення</span>
        <span class="badge order-amount">0</span>
        <button id="order-reset" class="btn btn-link">Очистити замовлення</button>
    </div>
    <div id="basket">
        <div class="empty-cart">
            <img id="cat" src="assets/images/ask_for_food.png"></img>
            <br>Зголодніли?<br>Саме час замовити піцу!
        </div>
    </div>
    <div class="bottom-order">
        <div class="order-cost">
            Сума замовлення
            <span class="money">0</span>
            грн.
        </div>
        <button class="btn btn-warning btn-lg btn-block to-buy">Замовити</button>
    </div>
</div>