.pizza-card {
  .pizza-icon {
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
  }

  h3 {
    color: @mainColor;
  }
  //.small-pizza {
  //  float: left;
  //  //margin-right: 10%;
  //}
  //.big-pizza {
  //  float: right;
  //}
  .description {
    height: 60px;
    overflow-y: hidden;
  }
  .uno {
    margin-left: 25% ;
  }
  text-align: center;
  .type{
    color: grey;
    text-align: left;
  }
  .label {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 19px;
  }
}