.discount-panel, .top-panel .site-icon {
    left: 9px;
    border-left: 1px solid #d16200;
    border-right: 1px solid #d16200;
    text-transform: uppercase;
    text-align: center
}

.discount-panel, .pizza-card .description::first-letter, .top-panel .site-icon {
    text-transform: uppercase
}

.btn-circle, .discount-panel, .footer, .left-panel .all-pizza-type-wrap, .left-panel .page-title, .pizza-card .pizza-big, .pizza-card .pizza-small, .top-panel .site-icon {
    text-align: center
}

.top-panel {
    padding-left: 130px;
    padding-right: 350px
}

.top-panel .pizza-logo {
    color: #fff !important
}

.top-panel .pizza-logo:active, .top-panel .pizza-logo:hover {
    text-decoration: none
}

.top-panel .pizza-logo .pizza-title {
    color: #fff
}

.top-panel .pizza-logo .title-2 {
    font-size: 25px
}

.top-panel .top-discount {
    top: 90px;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV"
}

.top-panel .site-icon {
    position: fixed;
    top: 0;
    background: #ea862e;
    z-index: 99;
    width: 100px;
    height: 90px;
    font-size: 19px;
    padding: 10px;
    padding-top: 15px;
    color: #fff
}

.top-panel .header-top-row {
    width: 100%;
    font-size: 12px;
    line-height: 11px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    color: #a1a1a1
}

.top-panel .header-top-row .main-header-top-items {
    display: block !important
}

.top-panel .header-top-row .phone-number {
    font-size: 20px;
    padding-right: 30px;
    padding-bottom: 15px
}

.top-panel .header-top-row .work-days {
    font-size: 12px;
    padding-right: 30px
}

.top-panel .header-top-row .delivery {
    font-size: 16px;
    padding-right: 30px
}

.top-panel .header-top-row .language {
    font-size: 14px;
    padding-right: 40px
}

.top-panel .sign-in-button {
    float: right;
    margin-top: -11px
}

.top-panel .header-down-row {
    display: block !important;
    padding-bottom: 10px;
    font-size: 16px;
    cursor: pointer
}

@media (max-width: 700px) {
    .top-panel .header-top-row .phone-number {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        padding: 0
    }

    .top-panel .sign-in-button {
        float: right;
        margin-top: 5px
    }
}

@media (max-width: 800px) {
    .top-panel {
        padding-right: 285px;
        padding-left: 115px
    }
}

.pizza-card {
    position: relative;
    padding-top: 30px
}

.pizza-card .title {
    font-size: 30px;
    color: #ec6a1c;
    font-weight: 700;
    font-family: "Helvetica Neue"
}

.pizza-card .type {
    font-size: 12px;
    color: #a3a0a0
}

.pizza-card .description {
    font-size: 14px;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis
}

.pizza-card .pizza-label-new, .pizza-card .pizza-label-popular {
    position: absolute;
    right: 0;
    top: 0
}

.pizza-card .show {
    visibility: visible
}

.pizza-card .hide {
    visibility: hidden
}

.pizza-card .pizza-icon {
    width: 100%;
    max-width: 300px
}

.order-one {
    height: 120px;
    padding: 20px 61px 10px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden
}

.all-orders, .r2 {
    overflow-x: hidden;
    overflow-y: auto
}

.order-one .order-title {
    line-height: 16px;
    font-size: 20px;
    color: #ec890e
}

.order-one .order-text {
    font-size: 12px;
    line-height: 16px;
    margin: 6px 0 8px
}

.order-one .order-text .gram-image {
    margin-left: 15px
}

.order-one .price-box {
    font-size: 14px;
    font-weight: 700
}

.order-one .price-box .price {
    margin-right: 10px
}

.order-one .price-box .pizza-count {
    font-size: 14px;
    padding: 0
}

.order-one .price-box .count-clear {
    margin-left: 25px;
    color: #ec890e
}

.order-one .price-box .order-pizza-count {
    font-size: 14px
}

.img-aside {
    position: absolute;
    right: -48px;
    top: 15px;
    border-radius: 50% 0 0 50%;
    max-height: 96px;
    max-width: 96px
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px
}

.all-orders {
    margin-top: 15px;
    background-color: #F5F5F5;
    height: 100%
}

.main-container, body {
    min-width: 594px !important
}

.right-panel {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 35px;
    margin-left: 20px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    box-orient: vertical;
    flex-direction: column;
    min-width: 330px;
    width: 330px;
    height: 100%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .2) -3px 3px 10px;
    z-index: 1000
}

.r1, .r2, .r3, .right-panel .order-state {
    width: 100%;
    box-sizing: content-box;
    display: block !important
}

.right-panel .r1 {
    padding-bottom: 13px
}

.right-panel .order-list-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
    padding-left: 15px
}

.right-panel .order-list-title .orange {
    background-color: #ec890e !important
}

.right-panel .clear-order-wrap {
    padding-right: 15px;
    font-size: 10px;
    line-height: 11px;
    font-weight: 400;
    color: rgba(0, 0, 0, .5)
}

.right-panel .clear-order {
    float: right;
    margin-top: 5px;
    cursor: pointer
}

.right-panel .order-state {
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.right-panel .order-state .sum-title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px
}

.right-panel .order-state .sum-number {
    font-weight: 700;
    font-size: 20px;
    float: right;
    padding-right: 30px;
    margin-bottom: 15px
}

.right-panel .order-state .do-order-button {
    padding: 20px;
    padding-right: 40px
}

.right-panel .all-orders .no-order-text {
    font-size: 16px;
    color: #4e4e4e;
    text-align: center;
    padding-top: 50px
}

.r2 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    height: 100%
}

@media (max-width: 800px) {
    .right-panel {
        min-width: 280px;
        width: 280px
    }

    .right-panel .order-list-title, .right-panel .order-one .order-title {
        font-size: 16px;
        line-height: 18px
    }

    .right-panel .order-one .label {
        padding: 0
    }

    .right-panel .order-one .price-box .count-clear {
        margin-left: 5px
    }
}

.discount-panel {
    position: fixed;
    bottom: 0;
    background: #ea862e;
    z-index: 99;
    width: 100px;
    padding: 10px;
    color: #fff
}

.discount-panel .discount-title {
    font-family: Helvetica, Calibri;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px dotted #d16301;
    margin-bottom: 7px;
    padding-bottom: 3px
}

.discount-panel .discount-text {
    font-size: 15px;
    font-weight: 700
}

.discount-before {
    width: 100px;
    height: 11px;
    top: -11px;
    left: -1px;
    background-image: url(../images/discount.svg);
    background-size: 100px 11px;
    background-repeat: no-repeat;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute
}

.order-page-panel {
    padding-top: 70px
}

.order-page-panel .form-description-1 {
    font-size: 20px;
    padding-bottom: 10px
}

.order-page-panel .google-maps {
    padding-left: 50px;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    margin-top: 10px
}

.order-page-panel .next-step-wrap {
    float: right;
    margin-right: 10px;
    margin-top: 15px
}

.order-page-panel .next-step-wrap .next-step-width {
    width: 110px
}

.order-page-panel .address-group .address-help-block, .order-page-panel .name-group .name-help-block, .order-page-panel .phone-group .phone-help-block {
    margin-left: 100px;
    color: #880a02
}

.bs-callout-warning {
    border-left-color: #ec890e !important
}

.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #fff
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.main-container {
    background-color: #fffff5;
    padding-top: 80px
}

.footer {
    padding-right: 330px !important
}

.left-panel {
    margin: auto;
    padding-left: 30px;
    padding-right: 360px;
    max-width: 1354px
}

.left-panel .page-title .orange {
    background-color: #ec890e !important
}

.left-panel .all-pizza-type-wrap .all-pizza-type {
    display: inline-block
}

.left-panel .all-pizza-type-wrap .all-pizza-type .li {
    display: inline
}

.left-panel .all-pizza-type-wrap .nav-pills a {
    color: #ec890e
}

.left-panel .all-pizza-type-wrap .all-pizza-type .active a, .left-panel .all-pizza-type-wrap .all-pizza-type .active a:hover {
    background-color: #ec890e;
    color: #fff
}

@media (max-width: 800px) {
    .left-panel {
        padding-left: 18px;
        padding-right: 298px
    }
}

.footer {
    padding: 40px 0;
    color: grey;
    background-color: #fff;
    border-top: 1px solid #e5e5e5
}

.top-panel {
    background: rgba(0, 0, 0, .8);
    z-index: 10
}